# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio solution/project files
*.sln
*.vcxproj
*.vcxproj.filters

# Build results
*.o
Build/

# Visual Studio cache/options
.vs/
*.aps

# Test Projects
/Test/
/Test.DotNET/
