# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio solution/project files
*.vcxproj.filters

# Build results
*.o
obj/
Build/

# Visual Studio cache/options
.vs/
*.aps

# Test Projects
/Test/
/Test.Lua/
/Test.Linux/
/Test.DotNET/
